# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Skubivi Git Projects\my_website_with_projects\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
